$color-background-primary: rgb(238, 242, 255);
$color-error: #ff5a5a;
$color-background-hover: rgb(200, 211, 245);
$color-yellow-star: #ffca28;
$color-hover: #555;
$color-overlay-modal: rgba(0, 0, 0, 0.8);
