.text-container {
  text-align: center;
}

.add-chef-button {
  border: 1px solid black;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: fit-content;

  .yellow-star {
    color: #ffca28;
  }
}

table {
  border-collapse: collapse;
  background-color: rgba(238, 238, 238, 0.483);
  border: 2px solid black;
}

th {
  border-bottom: 1px solid black;
}

td {
  border: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}
