<div class="restaurants-table-container">
  <button
    mat-raised-button
    class="add-restaurant-button"
    (click)="addRestaurant()"
  >
    Add Restaurant
  </button>

  <div class="scrollable-table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef class="text-container">Title</th>
        <td mat-cell *matCellDef="let element" class="text-container">
          {{ element.title }}
        </td>
      </ng-container>

      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef class="text-container">Image</th>
        <td mat-cell *matCellDef="let element" class="image-container">
          <img
            [src]="element.image"
            alt="Restaurant Image"
            height="50"
            width="70"
          />
        </td>
      </ng-container>

      <ng-container matColumnDef="chef">
        <th mat-header-cell *matHeaderCellDef class="text-container">Chef</th>
        <td mat-cell *matCellDef="let element" class="text-container">
          {{ element.chef.title }}
        </td>
      </ng-container>

      <ng-container matColumnDef="rating">
        <th mat-header-cell *matHeaderCellDef class="text-container">Rating</th>
        <td mat-cell *matCellDef="let element" class="text-container">
          {{ element.rating }}
        </td>
      </ng-container>

      <ng-container matColumnDef="isPopular">
        <th mat-header-cell *matHeaderCellDef class="text-container">
          Is Popular
        </th>
        <td mat-cell *matCellDef="let element" class="text-container">
          {{ element.isPopular ? "Yes" : "No" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="dishes">
        <th mat-header-cell *matHeaderCellDef class="text-container">Dishes</th>
        <td mat-cell *matCellDef="let element">
          <ul>
            <li *ngFor="let dish of element.dishes" class="text-container">
              {{ dish.title }}
            </li>
          </ul>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="text-container">
          Actions
        </th>
        <td mat-cell *matCellDef="let row" class="icons-container">
          <button
            mat-icon-button
            color="primary"
            (click)="editRestaurant(row)"
            aria-label="Edit restaurant"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            (click)="deleteRestaurant(row._id)"
            aria-label="Delete restaurant"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
