.text-container {
  text-align: center;
}

.add-restaurant-button {
  margin-bottom: 20px;
}

.image-container {
  display: flex;
  justify-content: center;
}

.icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

table {
  border-collapse: collapse;
}

th {
  border-bottom: 1px solid black;
}

td {
  border: none;
}
