@import "../../styles/mixins";

.image-dialog {
  max-width: 100%;
  max-height: 100vh;
  border-radius: 5px;
}

.image-name {
  @include font-style;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $color-overlay-modal;
  font-size: 32px;
  color: white;
  text-align: center;
  padding: 10px 0;
}
