.table-container {
  width: 90%;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 18px;

  .scrollable-table-container {
    display: block;
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    border: 2px solid black;
    border-radius: 10px;
  }

  .text-container {
    text-align: center;
  }

  .add-button {
    border: 1px solid black;
    width: max-content;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .icons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;

    .yellow-star {
      color: #ffca28;
    }
  }

  table {
    border-collapse: collapse;
    background-color: rgb(238, 242, 255);
  }

  th {
    border-bottom: 1px solid black;
  }

  td {
    padding: 3px 16px;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
  }
}
