@import "../../styles/mixins";

.loading-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.table-container {
  width: 90%;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;

  .button-and-filter-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .filter-container {
      mat-form-field {
        width: 33%;
      }
    }

    .add-button {
      border: 1px solid black;
      width: max-content;
    }
  }

  .scrollable-table-container {
    display: block;
    max-height: calc(100vh - 300px);
    overflow-y: auto;
    border: 2px solid black;
    border-radius: 10px;
  }

  .text-container {
    @include font-style;
    text-align: center;
    overflow-y: auto;
    max-height: 60px;
    max-width: 400px;
    word-wrap: break-word;
    .long-text {
      text-align: left;
    }
  }

  .text-container-header {
    @include font-style;
    text-align: center;
    overflow-y: auto;
    max-height: 60px;
    max-width: 400px;
    word-wrap: break-word;
    font-weight: 500;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .icons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;

    .yellow-star {
      color: #ffca28;
    }
  }

  table {
    border-collapse: collapse;
    background-color: rgb(238, 242, 255);
  }

  tr {
    &:hover {
      background-color: rgb(200, 211, 245);
    }
  }

  th {
    background-color: rgb(200, 211, 245);
    position: sticky;
    top: 0;
    z-index: 100;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      border-bottom: 1px solid black;
      width: 100%;
      height: 1px;
    }
  }

  td {
    padding: 3px 16px;
    max-width: 400px;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
  }
}
