<nav class="header">
  <img
    class="app-logo"
    src="../../../assets/images/epicureLogo.png"
    alt="Epicure Logo"
  />

  <div class="navbar-links">
    <a
      routerLink="/restaurants"
      routerLinkActive="active-link"
      class="small-link"
      >Restaurants</a
    >
    <a routerLink="/dishes" routerLinkActive="active-link" class="small-link"
      >Dishes</a
    >
    <a routerLink="/chefs" routerLinkActive="active-link" class="small-link"
      >Chefs</a
    >
  </div>
</nav>
