@import "../../styles/mixins";

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-background-primary;
    padding: 15px;
    border-radius: 5px;

    mat-form-field {
      width: 300px;

      .error-icon {
        color: $color-error;
        min-width: 24px;
      }
    }
  }

  .login-button {
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
      transform: translateY(-3px);
    }
  }
}

.cdk-global-overlay-wrapper {
  align-items: center !important;

  .mdc-button__label {
    color: white !important;
    background-color: #ff5a5a !important;
  }
  --mdc-snackbar-container-color: #ff5a5a;
}

.mdc-tooltip.custom-tooltip {
  .mdc-tooltip__surface {
    @include font-style;
    background-color: $color-error;
    color: white;
    padding: 5px 10px;
  }
}
