<div class="login-container">
  <form (ngSubmit)="onSubmit()" class="form-container">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <mat-icon matPrefix>person_outline</mat-icon>
      <input matInput [(ngModel)]="email" name="email" type="email" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <mat-icon matPrefix>lock_outline</mat-icon>
      <input
        matInput
        [(ngModel)]="password"
        name="password"
        type="password"
        required
      />
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      class="login-button"
    >
      <mat-icon>login</mat-icon> Login
    </button>
  </form>
</div>
