.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(238, 242, 255);
    padding: 15px;
    border-radius: 5px;
  }

  .login-button {
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
      transform: translateY(-3px);
    }
  }
}

.cdk-global-overlay-wrapper {
  align-items: center !important;

  .mdc-button__label {
    color: white !important;
    background-color: #ff5a5a !important;
  }
  --mdc-snackbar-container-color: #ff5a5a;
}
