<button mat-raised-button class="add-dish-button" (click)="addDish()">
  Add Dish
</button>

<div class="dhishes-table-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef class="text-container">Title</th>
      <td mat-cell *matCellDef="let element" class="text-container">
        {{ element.title }}
      </td>
    </ng-container>

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef class="text-container">Image</th>
      <td mat-cell *matCellDef="let element" class="image-container">
        <img [src]="element.image" alt="Dish Image" height="50" width="70" />
      </td>
    </ng-container>

    <ng-container matColumnDef="ingredients">
      <th mat-header-cell *matHeaderCellDef class="text-container">
        Ingredients
      </th>
      <td mat-cell *matCellDef="let element" class="text-container">
        {{ element.ingredients.join(", ") }}
      </td>
    </ng-container>

    <ng-container matColumnDef="tags">
      <th mat-header-cell *matHeaderCellDef class="text-container">Tags</th>
      <td mat-cell *matCellDef="let element">
        <ul>
          <li *ngFor="let tag of element.tags" class="text-container">
            {{ tag }}
          </li>
        </ul>
      </td>
    </ng-container>

    <ng-container matColumnDef="restaurant">
      <th mat-header-cell *matHeaderCellDef class="text-container">
        Restaurant
      </th>
      <td mat-cell *matCellDef="let element" class="text-container">
        {{ element.restaurant.title }}
      </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef class="text-container">Price</th>
      <td mat-cell *matCellDef="let element" class="text-container">
        {{ element.price }}
      </td>
    </ng-container>

    <ng-container matColumnDef="isSignature">
      <th mat-header-cell *matHeaderCellDef class="text-container">
        Is Signature
      </th>
      <td mat-cell *matCellDef="let element" class="text-container">
        {{ element.isSignature ? "Yes" : "No" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="text-container">Actions</th>
      <td mat-cell *matCellDef="let row" class="icons-container">
        <button
          mat-icon-button
          color="primary"
          aria-label="Edit dish"
          (click)="editDish(row)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          color="warn"
          aria-label="Delete dish"
          (click)="deleteDish(row._id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
